
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    background-color: #82c2f0;
}
input {
    display: none;
}
h1{
    text-align:center;
}
.bayan{
    overflow: hidden;
    width: 100%;
    margin:0 auto;
}
.bayan_i {
    background-color: rgb(42, 33, 68);
    color: #82c2f0;
    width: 100%;
    overflow: hidden;
}
.bayan_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background: black; 
    cursor: pointer;
    border-bottom: 0.1em solid #923e3e;
    font-size: 1em;
}
.bayan_img{
    display: flex;
    justify-content: center;
    padding: 0 1em;
    transition: all 0.5s;
    text-align: center;
}
input:checked ~ .bayan_content .bayan_img {
    max-height: 100%;
    padding: 1em;
}

input:checked ~ .bayan_title {
    font-style: italic;
}

input:checked ~ .bayan_content .bayan_img .mem{
    width: 90%;
    height: 90%;
    opacity: 1;
}

.btn{
    background-image: url(./img/svg/plus.svg);
    width: 2em;
    height: 2em;
    transition: all 0.5s;
    transform: rotate(90deg);
    opacity: 1;
}
input:checked ~ label .btn {
    transform: rotate(45deg);
}

.mem{
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
}
@media (min-width: 481px){
    input:checked ~ .bayan_content .abayan_img .mem{
        width: 60%;
        height: 60%;
    }
    .bayan_title{
        font-size: 1.1em;
    }
}
@media (min-width: 821px) {
    .bayan{
        width: 60%;
    }

    .btn{
        opacity: 0;
    }

    .bayan_i:active {
        opacity: 0.7;
    }

    input:checked ~ .bayan_content .bayan_img .mem{
        width: 50%;
        height: 50%;
    }

    .bayan_title{
        font-size: 1.7em;
    }

    .bayan_title:hover ~ .bayan_content .bayan_img {
        max-height: 100%;
        padding: 1em;
    }
    
    .bayan_title:hover ~ .bayan_content .mem{
        width: 50%;
        height: 50%;
        opacity: 1;
        transition: all 0.5s;
    }
    
    .bayan_title:hover .btn {
        transition: all 0.5s;
        transform: rotate(45deg);
    }

    .bayan_img:hover{
        cursor: pointer;
        max-height: 100%;
        padding: 1em;
    }
    
    .bayan_img:hover .mem {
        width: 50%;
        height: 50%;
        opacity: 1;
    }

    .bayan:hover .btn {
        transition: all 0.5s;
        opacity: 1;
    }

    .bayan_i:hover .bayan_title{
        font-style: italic;
    }
    
    .bayan_i:hover .btn{
        transform: rotate(45deg);
    }
}
@media (min-width: 1441px){
    input:checked ~ .bayan_content .abayan_img .mem{
        width: 60%;
        height: 60%;
    }

    .bayan_img:hover .mem {
        width: 40%;
        height: 40%;
    }

    .bayan_title:hover ~ .bayan_content .mem{
        width: 40%;
        height: 40%;
    }
}